*{
    padding: 0px;
    margin: 0px;
    font-family:"Work Sans";
    box-sizing: border-box;
}
main{
    padding-top: 80px;
    padding-bottom: 16px;
    background-image: linear-gradient(to bottom right, rgba(224,224,224,1) 0%, rgba(191,191,191,1) 27%, rgba(196,128,107,1) 100%);
}
iframe{
    height: 315px;
    object-fit: cover;
}
.navbar{
    background-color: black;
    font-size: 20px;
}
.navbar li{  
    padding-inline: 10px;
}
.navbar a{
    color:#fff !important;
}

.navbar a:hover{
    color: #ee5221 !important;
}
nav img{
    width: 160px;
}
h1{
    margin-bottom: 16px;
    padding-block: 20px;
    text-align: center;
    background-color: rgb(217,160,29);
    color:black;
}
.card{
    padding-block: 16px;
    background-color: rgba(217,160,29,0.25);
}
.card:hover{
    background-color: rgba(217,160,29,0.5);
    transition: all 1s;
}
.card-body{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    text-align: justify;  
}
.card-text{
    font-size: 18px;
}
.card h3{
    padding-bottom: 8px;
}
.btn{
    margin-top: 16px;
    background-color: #ee5221;
    color:#fff;
    font-size: 18px;
    transition: all 1s;
}
.btn:hover{
    transform: scale(1.5);
    text-transform: bold;
    background-color: #fff;
    color: #ee5221;
    transition: transform 1s;
}


footer{
    text-align: center;
    background-color: black;
    padding: 16px;
    padding-right: 0px;
    color: #fff;   
}
.redes{
    padding-inline: 0;
    font-size: 30px;
}
.fa-whatsapp{
    padding-left: 16px;
}

footer i{
    padding-top: 4px;
    letter-spacing: 16px;
    color: #fff !important;
}
footer i:hover{
    color:#ee5221 !important;
}
footer p{
    margin-bottom: 0px;
    font-size: 25px;
}
@media screen and (max-width: 720px) {
footer p{
    padding-block: 8px;
    font-size: 22px;
}
footer i{
    padding-block: 8px;
}
} 
h2{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 8px;
    text-shadow: 5px 5px 5px #ccc;
    animation-duration: 2s;
    animation-name: fade;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes fade{
    0%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;
        transform: scale(1.1);
    }
}


.tabla{
    padding-inline: 4px;
}

thead{
    font-size: 24px;
}

.tabla td, tbody th{
    font-size: 20px;
}
caption{
    padding-left: 4px;
    font-size: 20px;
}
