@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap');

$colorNaranja:#ee5221;
$colorAmarillo:rgb(217,160,29);
$colorNegro:black;
$colorBlanco:#fff;
$colorGris:#ccc;
$tamanio1:16px;
$tamanio2:20px;
$fuente1:"Work Sans";
$fuente2:"'Asap', sans-serif";

*{
    padding: 0px;
    margin: 0px;
    font-family:$fuente1;
    box-sizing: border-box;
}
iframe{
    height: 315px;
    object-fit: cover;
}
header{
    .navbar{
        background-color: $colorNegro;
        font-size: $tamanio2;
    }
    li{
        padding-inline: 10px;
    }
    a{
        color:$colorBlanco !important;
    }
    a:hover{
        color: $colorNaranja !important;
    }
    img{
        width: 160px;
    }
}
main{
    padding-top: 80px;
    padding-bottom: $tamanio1;
    background-image: linear-gradient(to bottom right, rgba(224,224,224,1) 0%, rgba(191,191,191,1) 27%, rgba(196,128,107,1) 100%);
    min-height: 91.5vh;
}
h1{
    margin-bottom: $tamanio1;
    padding-block: 20px;
    text-align: center;
    background-color: $colorAmarillo;
    color:$colorNegro;
    font-family: $fuente1;
    font-weight: 600;
}
h2{
    background-color: rgba(0, 0, 0, 0.1);
    padding: $tamanio1;
    margin-bottom: 8px;
    text-shadow: 5px 5px 5px $colorGris;
    animation-duration: 2s;
    animation-name: fade;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    font-weight:600;
}
h3{
    font-family:$fuente2
}

.jumbotron{
    width: 100%;
    min-height: 500px;
    background-image: url(./Imagenes/gimnasio.jpg);
    background-size:contain;
    background-position:center;
    background-repeat:repeat;
    text-align: center;
    border-radius: 0;
    h1{
        background:transparent;
        font-size: 60px;
        text-align: center;
        color: $colorBlanco;
        padding: 60px 0px 60px 0px;
        text-shadow: 1px 3px 0 #969696, 3px 6px 2px #aba8a8;
    }
    p{
        color: $colorGris;
        font-size: 30px;
        text-align:center;
        padding-bottom: 10px;
        text-shadow: 1px 3px 0 #969696, 1px 1px 1px #aba8a8;
    }
    a{
        color: $colorBlanco;
        &:hover{
            color: $colorNaranja;
            text-decoration: none;
        }
    }
}
@media screen and (max-width: 850px) {
    .jumbotron{
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }
    
}
.contenedor{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: $tamanio1*2;
    p{
        font-size: $tamanio2;
        padding-block: $tamanio1;
        padding-inline: $tamanio1*2;
    }
    .inicio{
        text-align: center;
    }
    .btn{
        align-self: center;
        margin-top: $tamanio1*2;
    }
}
.cont-img{
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 600px;
    margin-inline: $tamanio1;
    align-self: center;  
    border-radius: $tamanio1;    
}
@for $i from 1 through 2{
    .cont-img-#{$i}{
        background-image: url(Imagenes/sala#{$i}.png);
    }
}   
@media screen and (max-width:720px){
    .cont-img{
        width: 500px;
        height: 500px;
    }    
}
@media screen and (max-width:550px){
    .cont-img{
        width: 420px;
        height: 420px;
    }    
}
@media screen and (max-width:450px){
    .cont-img{
        width: 350px;
        height: 350px;
        margin-inline: 8px;
    }    
}
.card{
    padding-block: $tamanio1;
    background:transparentize($color: $colorAmarillo, $amount: 0.75);
    &:hover{
        background: transparentize($color: $colorAmarillo, $amount: 0.5);
        transition: all 1s;
    }
    h3{
        padding-bottom: 8px;
    }
}
.card-body{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    text-align: justify;  
}
.card-text{
    font-size: 18px;
}
.btn{
    margin-top: $tamanio1;
    background-color: $colorNaranja;
    color:$colorBlanco;
    font-size: 18px;
    transition: all 1s;
    font-family: $fuente2;
    font-weight: 400;
    &:hover{
        transform: scale(1.5);
        text-transform: bold;
        background-color: $colorBlanco;
        color: $colorNaranja;
        transition: transform 1s;
        font-weight: 600;
    }
}
@keyframes fade{
    0%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;
    }
}
.tabla{
    padding-inline: 4px;
    td{
        font-size: $tamanio2;
    }
    thead{
        font-size: $tamanio2+4;
    }
    tbody{
        th{
            font-size: $tamanio2;
        }
    }
}
caption{
    padding-left: 4px;
    font-size: $tamanio2;
}
form{
    display: flex;
    flex-direction: column;
    padding: $tamanio1;
    background: transparentize($color: $colorAmarillo, $amount: 0.5); 
    font-size: $tamanio2;    
    .btn{
        align-self: center;
        min-width: 86px;
    }
}
.parrafoIniciarSesion{
    padding: $tamanio1;
    background: transparentize($color: $colorAmarillo, $amount: 0.5);
    p{
        text-align: center;
        font-size: $tamanio2;
    }
    a{
        text-decoration: none;
        color: $colorBlanco;     
    }
}
.row{
    .mapa{
        border:none;
        min-height: 360px;
    }
    .img-fluid{
        margin-bottom: $tamanio1;
    }
}
.contactoRedes{
    text-align: center;
    @extend .card;
    p{
        font-size: $tamanio2;
    }
    a{
        color: $colorBlanco;
        &:hover{
            text-decoration: none;
            color: $colorNaranja;
        }
    } 
    span{
        color:$colorBlanco;
    } 
}
@media screen and (max-width: 1200px) {
    .contactoRedes{
        border-radius: $tamanio1;
        margin: 0 $tamanio1 $tamanio1 $tamanio1;
    }    
}
footer{
    text-align: center;
    background-color: black;
    padding: $tamanio1;
    padding-right: 0px;
    color: $colorBlanco;
    i{
        padding-top: 4px;
        letter-spacing: $tamanio1;
        color: $colorBlanco !important;
        &:hover{
            color:$colorNaranja !important;
        }
    }   
    p{
        margin-bottom: 0px;
        font-size: 25px;
    }
    .redes{
        padding-inline: 0;
        font-size: 30px;
    }
    .fa-whatsapp{
        padding-left: $tamanio1;
    }
}
@media screen and (max-width: 720px) {
    footer{
        p{
            padding-block: 8px;
            font-size: $tamanio2+2;
        }
        i{
            padding-block: 8px;
        }
    } 
} 
